body {
	margin: 0;
}

#section-cards {
	background: #202328;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.card {
	border: 1px solid black;
	width: 400px;
	height: 180px;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	margin: 20px;
	box-shadow: 0 0 10px 0 rgb(21, 194, 188);
}

.card img {
	width: 45%;
	height: 100%;
}

.body-card {
	width: 55%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #3b3e43;
	color: white;
}
